name: Build and publish

on:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches: [master]

env:
  IMAGE_NAME: amazonlinux-occt-cgal-node
  AMAZONLINUX_VERSION: 2023
  OCCT_VERSION: 7.8.0
  CGAL_VERSION: 5.6.1

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        node: [18, 20, 22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            node_version=${{ matrix.node }}
            amazonlinux_version=${{ env.AMAZONLINUX_VERSION }}
            occt_version=${{ env.OCCT_VERSION }}
            cgal_version=${{ env.CGAL_VERSION }}
          tags: |
            michaukrieg/${{ env.IMAGE_NAME }}:node-${{matrix.node}}
            michaukrieg/${{ env.IMAGE_NAME }}:${{ env.AMAZONLINUX_VERSION }}-occt-${{ env.OCCT_VERSION }}-cgal-${{ env.CGAL_VERSION }}-node-${{ matrix.node }}
            ghcr.io/michsior14/${{ env.IMAGE_NAME }}:node-${{matrix.node}}
            ghcr.io/michsior14/${{ env.IMAGE_NAME }}:${{ env.AMAZONLINUX_VERSION }}-occt-${{ env.OCCT_VERSION }}-cgal-${{ env.CGAL_VERSION }}-node-${{ matrix.node }}
